<launch>
  <param name="kx" type="double" value="9.28190436e+00" />
  <param name="kvx" type="double" value="4.30857386e+00" />

  <param name="ky" type="double" value="7.90444340e+01" />
  <param name="kvy" type="double" value="1.25733396e+01" />

  <param name="front_x" type="double" value="1.5" />
  <param name="vel_ref" type="double" value="0.4" />

  <node name="flyappy_autonomy_code" pkg="flyappy_autonomy_code" type="flyappy_autonomy_code_node" output="screen" />
  <node name="flyappy_main_game" pkg="flyappy_main_game" type="flyappy.py" output="screen" required="true" />
</launch>
